
.afterCar{
  padding-top: 55px;
 .title {
      position: relative;
      z-index: 1;
      margin: auto;
      margin-bottom: 84px;
      // padding-top: 84px;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      font-size: 52px;
      h3 {
        z-index: 1;
      }
    }
}

.main_container_flex {
  margin-top: 40px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card_body {
    padding: 46px 35px;
    .card_title {
      display: flex;
      align-items: center;
      margin-bottom: 36px;

      .img_icon {
        width: 70px;
        height: 70px;
        left: 155px;
        top: 9567px;
        margin-right: 38px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
      }
      h4 {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 130%;
        /* identical to box height, or 34px */

        color: #333333;
      }
    }
    p {
      font-family: Gilroy;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 160%;
      /* or 29px */

      color: #6c6c6c;
    }
  }

  .card_1 {
    margin-right: 40px;
    flex: 1;
    background: #f5f5f5;
    border-radius: 15px;

    .img_container {
      img {
        width: 100%;
      }
    }
  }
  .card_2 {
    background: #f5f5f5;
    border-radius: 15px;
    flex: 1;
    .img_container {
      img {
        width: 100%;
      }
    }
  }
}

// tablet

@media (max-width: 1170px) {
  .main_container_flex {
    padding: 0 45px;
    margin-top: 80px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .card_body {
      padding: 46px 35px;
      .card_title {
        display: flex;
        align-items: center;
        margin-bottom: 56px;

        .img_icon {
          width: 50px;
          height: 50px;
          left: 155px;
          top: 9567px;
          margin-right: 38px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
        }
        h4 {
          font-family: Gilroy;
          font-style: normal;
          font-weight: bold;
          font-size: 26px;
          line-height: 130%;
          /* identical to box height, or 34px */

          color: #333333;
        }
      }
      p {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        /* or 29px */

        color: #6c6c6c;
      }
    }

    .card_1 {
      width: 540px;
      margin-bottom: 20px;

      background: #f5f5f5;
      border-radius: 15px;

      .img_container {
        img {
          width: 100%;
        }
      }
    }
    .card_2 {
      width: 540px;

      background: #f5f5f5;
      border-radius: 15px;
      .img_container {
        img {
          width: 100%;
        }
      }
    }
  }
}

// mobile

@media (max-width: 776px) {
.afterCar{
  padding-top: 55px;
 .title {
      position: relative;
      z-index: 1;
      margin: auto;
      margin-bottom: 84px;
      // padding-top: 84px;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      font-size: 32px;
      h3 {
        z-index: 1;
      }
    }
}
  .main_container_flex {
    padding: 0 5px;
    margin-top: 80px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .card_body {
      padding: 30px 25px;
      .card_title {
        display: flex;
        align-items: center;
        margin-bottom: 36px;

        .img_icon {
          width: 50px;
          height: 50px;
          left: 155px;
          top: 9567px;
          margin-right: 25px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
        }
        h4 {
          font-family: Gilroy;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 130%;
          /* identical to box height, or 34px */

          color: #333333;
        }
      }
      p {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        /* or 29px */

        color: #6c6c6c;
      }
    }

    .card_1 {
      width: 100%;
      margin-bottom: 20px;
      margin-right: 0;
      background: #f5f5f5;
      border-radius: 15px;

      .img_container {
        img {
          width: 100%;
        }
      }
    }
    .card_2 {
      width: 100%;

      background: #f5f5f5;
      border-radius: 15px;
      .img_container {
        img {
          width: 100%;
        }
      }
    }
  }
}
