.airPhoto {
  .video_container {
    width: 100%;
    max-width: 1105px;
    padding: 39px 47px;
    margin: auto;
    position: relative;
    .video_controls{
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .video {
      position: relative;
    border-radius: 15px;
      width: 100%;
    }
  }
}
@media (max-width: 766px) {
}
