.galery {
  position: relative;
  z-index: 1;
  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    width: 593px;
    height: 601px;
    left: 220px;
    bottom: 910px;
    background: url("/leafs_c.png") center/cover;
    background-size: contain;
    // background: transparent;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: calc(100vw / 1440 * 1095);
    left: 0px;
    bottom: calc(-100vw * .23);
    background: url("/clouds.png") center/cover;
    // background-size: contain;
    // background: transparent;
  }

  .title {
    position: relative;
    z-index: 1;
    margin: auto;
    margin-bottom: 84px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
    h3 {
      z-index: 1;
    }
  }
}

.bg {
  z-index: 2;
  position: relative;
  // border-radius: 18px;
  // height: 100%;
  
}
.mb {
  z-index: 1;
  position: relative;
  background: #f4f4f4;
  border: 3px solid #ededed;
  min-width: 350px;
  display: none;
}
.carousel_button_group {
  background: #F4F4F4;
  position: relative;
  width: 550px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 10px;
  right: 0px;
  border-radius: 15px;
  border: 3px solid #EDEDED;
  P {
    background: #ffffff;
    border: 3px solid #f4f4f4;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px 30px;
    width: 310px;
    color: #6b6b6b;
  }
  button {
    padding: 0 10px;
    background: transparent;
    flex: 1;
    border: none;
    width: 70px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .btn_prev {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: linear-gradient(90deg, #64bf80 0%, #56b4d3 100%);
    border-radius: 50px;
  }
  .btn_next {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: linear-gradient(90deg, #64bf80 0%, #56b4d3 100%);
    border-radius: 50px;
  }
}

// tablet / mobile

@media (max-width: 1100px) {
  .galery {
    position: relative;
    z-index: 1;
    &::before {
      z-index: 0;
      content: "";
      position: absolute;
      width: 0px;
      height: 601px;
      left: 210px;

      bottom: -60px;
      background: url("/leafs_c.png") center/cover;
      background-size: contain;
      // background: transparent;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 400px;
      left: 0px;
      bottom: -170px;
      background: url("/clouds.png") center/cover;
      background-size: contain;
      // background: transparent;
    }

    .title {
      position: relative;
      z-index: 1;
      margin: auto;
      margin-bottom: 84px;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      font-size: 52px;
      h3 {
        z-index: 1;
      }
    }
  }

  .bg {
    z-index: 1;
    position: relative;
    background: #f4f4f4;
    border: 3px solid #ededed;
    min-width: 350px;
    // min-height: 400px;
    // display: block;
  }
  .mb {
    z-index: 1;
    position: relative;
    background: #f4f4f4;
    border: 3px solid #ededed;
    min-width: 350px;
    display: none;
  }
  .carousel_button_group {
    position: relative;
    width: 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    justify-content: center;
    position: absolute;
    bottom: -1%;
    right: 0;
    P {
      background: #ffffff;
      border: 3px solid #f4f4f4;
      box-sizing: border-box;
      border-radius: 15px;
      padding: 15px 30px;
      color: #6b6b6b;
    }
    button {
      padding: 15px 10px;
      background: transparent;
      border: none;
    }
  }
}
//  mobile
@media (max-width: 766px) {
  .galery {
    margin-top: 50px;

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      width: 0px;
      height: 601px;
      left: 210px;
      opacity: 0;

      bottom: -60px;
      background: url("/leafs_c.png") center/cover;
      background-size: contain;
      // background: transparent;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 400px;
      left: 0px;
      bottom: -200px;
      background: url("/clouds.png") center/cover;
      // background-size: contain;

      // background: transparent;
    }

    .title {
      position: relative;
      z-index: 1;
      margin: auto;
      margin-bottom: 84px;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      font-size: 32px;
      h3 {
        z-index: 1;
      }
    }
  }

  .bg {
    z-index: 1;
    position: relative;
    background: #f4f4f4;
    border: 3px solid #ededed;
    min-width: 350px;
    display: none;
  }
  .mb {
    z-index: 1;
    position: relative;
    background: #f4f4f4;
    border: 3px solid #ededed;
    min-width: 350px;
    display: flex;
    margin: 0 5px;
    border-radius: 15px;
  }
  .carousel_button_group {
     background: #F4F4F4;
  position: relative;
  width: 100%;
  height: 84px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 25px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 0;
  border: none;
  padding: 0 15px;
  flex-direction: column;
  div{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
    P {
      font-size: 16px;
      text-align: center;
      width: 100%;
      background: #ffffff;
      border: 3px solid #f4f4f4;
      box-sizing: border-box;
      border-radius: 15px;
      padding: 10px 20px;
      color: #6b6b6b;
      line-height: 25px;
    }
    button {
      padding: 10px 0px;
      background: transparent;
      width: auto;
      border: none;
    }
    .btn_prev {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      background: linear-gradient(90deg, #64bf80 0%, #56b4d3 100%);
      border-radius: 15px;
    }
    .btn_next {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      background: linear-gradient(90deg, #64bf80 0%, #56b4d3 100%);
      border-radius: 15px;
    }
  }
  .mob_gal {
    text-align: center;

    div {
      padding-bottom: 140px;
      padding-top: 10px;
      P {
        display: inline-block;
        background: #ffffff;
        border: 3px solid #f4f4f4;
        box-sizing: border-box;
        border-radius: 15px;
        padding: 10px 20px;
        color: #6b6b6b;
      }
      img {
        width: 100%;
        padding: 15px 15px 0;
      }
    }
  }
}

.airPhoto {
  .video_container {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 15px 15px 0;

    .btns {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1000;
      cursor: pointer;
        div {
        img {
          // width: 100%;
          height: 600px;
        }
        .btn_img{
          position: absolute;
          width: 70px;
          height: 70px;
          top: 70%;
          left: 50%;
          transform: translateY(-70%) translateX(-50%);
          pointer-events: none;
        }
      }
      .show {
        display: block;
      }
    }

    .video {
      width: 100%;
      height: 100%;
    }
    
  }
}
