.galery {
  position: relative;
  z-index: 1;
  margin-bottom: 52px;
  .title {
    margin: auto;
    margin-bottom: 84px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
    h3 {
      z-index: 1;
    }
  }
}

.bg {
  position: relative;
  background: url("/galery_bg.png") center/cover no-repeat;
  border-radius: 18px;
  min-height: 612px;
}
.carousel_button_group {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  right: 32px;
  P {
    background: #ffffff;
    border: 3px solid #f4f4f4;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px 30px;
    color: #6b6b6b;
  }
  button {
    padding: 0 10px;
    background: transparent;

    border: none;
  }
  .btn_prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(90deg, #64bf80 0%, #56b4d3 100%);
    border-radius: 50px;
  }
  .btn_next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(90deg, #64bf80 0%, #56b4d3 100%);
    border-radius: 50px;
  }
}

