// .form_container {
//   .place {
//     display: flex;
//     justify-content: space-evenly;
//     background: chartreuse;
//     padding: 40px;
//     &_item {
//       width: 250px;
//       height: 145px;
//       background: #ffffff;
//       border: 1px solid black;
//       border-radius: 15px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       flex-direction: column;
//     }
//   }
//   .fixed{
//     padding-left: 13px;

//   }
//   .form_title {
//     // text-align: center;
//     h4 {
//       font-weight: normal;
//       font-size: 32px;
//       padding-bottom: 21px;
//       line-height: 45px;
//     }
//     p {
//       font-weight: 500;
//       width: 400px;
//       font-size: 16px;
//       padding-bottom: 42px;
//       line-height: 25px;
//       color: #6c6c6c;
//     }
//   }
//   .form {
//     display: flex;
//     // flex-direction: column;
//     flex-wrap: wrap;
//     input {
//       height: 60px;
//       padding: 15px 10px;
//       border: 3px solid #ededed;
//       border-radius: 15px;
//       margin-bottom: 10px;
//     }
//     .textarea {
//       height: 130px;
//       background: #ffffff;
//       border: 3px solid #ededed;
//       box-sizing: border-box;
//       border-radius: 15px;
//       padding-top: 10px;
//       padding-left: 10px;
//     }
//     .form_btn {
//       margin-top: 17px;
//       height: 60px;
//       background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
//       border: none;
//       box-shadow: 0px 18px 40px -5px rgba(25, 135, 59, 0.35);
//       border-radius: 50px;
//       cursor: pointer;
//       color: #fff;
//       font-size: 18px;
//     }
//     textarea::placeholder {
//       padding: 12px;
//       color: #a4a4a4;
//       font-size: 16px;
//     }
//     input::placeholder {
//       padding: 5px;
//       color: #a4a4a4;
//       font-size: 16px;
//     }
//     .chekBox {
//       padding-top: 10px;
//       display: flex;
//       align-content: center;

//       .custom_checkbox {
//         width: 30px;
//         height: 30px;
//         -webkit-appearance: none;
//         background-color: #fff;
//         border: 1px solid #cacece;
//         box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
//           inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
//         padding: 9px;
//         border-radius: 3px;
//         display: inline-block;
//         position: relative;
//         &:checked {
//           background-color: #fff;
//           border: 1px solid #adb8c0;
//           box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
//             inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
//             inset 15px 10px -12px rgba(255, 255, 255, 0.1);
//           color: #99a1a7;
//         }
//         &:checked:after {
//           content: "\2714";
//           font-size: 16px;
//           position: absolute;
//           top: 4px;
//           left: 8px;
//           color: #5cacc7;
//         }
//       }

//       label {
//         color: #a4a4a4;
//         font-size: 12px;
//         text-align: center;
//         padding-left: 11px;
//         padding-top: 10px;
//         font-size: 12px;
//       }
//     }
//   }

//   // tablet
//   @media (max-width: 1200px) {
//     .form_title {
//       h4 {
//         font-weight: bold;
//         font-size: 25px;
//         font-weight: 700;
//         padding-bottom: 16px;
//         line-height: 32px;
//       }
//       p {
//         font-weight: 500;
//         font-size: 14px;
//         padding-bottom: 24px;
//         color: #6c6c6c;
//         line-height: 22px;
//       }
//     }
//     .form {
//       width: 100%;
//       display: flex;
//       position: relative;
//       // flex-direction: column;
//       //   justify-content: space-between;
//       input {
//         height: 60px;
//         padding: 15px 10px;
//         border: 3px solid #ededed;
//         border-radius: 15px;
//         margin-bottom: 10px;
//       }

//       .form_btn {
//         margin-top: 16px;
//         height: 65px;
//         background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
//         border: none;
//         box-shadow: 0px 18px 40px -5px rgba(25, 135, 59, 0.35);
//         border-radius: 50px;
//         cursor: pointer;
//         color: #fff;
//       }
//       input::placeholder {
//         padding: 5px;
//         color: #a4a4a4;
//         font-size: 16px;
//       }
//       .chekBox {
//         padding-top: 10px;
//         display: flex;
//         position: absolute;

//         input {
//           width: 20px;
//           height: 20px;
//         }

//         label {
//           color: #a4a4a4;
//           font-size: 12px;
//           padding-bottom: 8px;
//         }
//       }
//     }
//   }

//   // mobile
//   @media (max-width: 766px) {
//     .form_title {
//       padding: 0 33px;
//       h4 {
//         font-weight: 700;
//         font-size: 25px;
//         padding-bottom: 21px;
//         line-height: 32px;
//       }
//       p {
//         width: 100%;
//         font-weight: 500;
//         font-size: 14px;
//         padding: 0 30px;
//         padding-bottom: 24px;
//         color: #6c6c6c;
//         line-height: 22px;
//       }
//     }
//     .form {
//       height: 100%;
//       display: flex;
//       padding: 33px;
//       flex-direction: column;
//       //   justify-content: space-between;
//       input {
//         height: 60px;
//         padding: 15px 10px;
//         border: 3px solid #ededed;
//         border-radius: 15px;
//         margin-bottom: 10px;
//       }

//       .form_btn {
//         margin-top: 16px;
//         height: 65px;
//         background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
//         border: none;
//         box-shadow: 0px 18px 40px -5px rgba(25, 135, 59, 0.35);
//         border-radius: 50px;
//         cursor: pointer;
//         color: #fff;
//         font-size: 18px;
//       }

//       input::placeholder {
//         padding: 5px;
//         color: #a4a4a4;
//         font-size: 16px;
//       }
//       .chekBox {
//         padding-top: 10px;
//         display: flex;
//         .custom_checkbox {
//           -webkit-appearance: none;
//           background-color: #fff;
//           border: 1px solid #cacece;
//           box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
//             inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
//           padding: 9px;
//           border-radius: 3px;
//           display: inline-block;
//           position: relative;
//           &:checked {
//             background-color: #fff;
//             border: 1px solid #adb8c0;
//             box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
//               inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
//               inset 15px 10px -12px rgba(255, 255, 255, 0.1);
//             color: #99a1a7;
//           }
//           &:checked:after {
//             content: "\2714";
//             font-size: 18px;
//             position: absolute;
//             top: 0px;
//             left: 5px;
//             color: #5cacc7;
//           }
//         }

//         label {
//           color: #a4a4a4;
//           // padding-left: 11px;
//           font-size: 10px;
//         }
//       }
//     }
//   }

//   .formSubmit {
//     position: fixed;
//     display: none;
//     justify-content: center;
//     padding: 15px;
//     top: 50%;
//     left: 50%;
//     align-items: center;
//     width: 70%;
//     height: 30%;
//     background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
//     border-radius: 15px;
//     transform: translateX(-50%) translateY(-60%);
//     // transform: translateY(-50%);
//     h3 {
//       color: #ffff;
//     }
//   }
//   .formSubmit_active {
//     display: flex;
//   }
//   //
// }

// redone form

.form_container {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("/formMod_bg.svg");
  // border: 3px solid blue;
  // height: 590px;
  border-radius: 15px;

  .place {
    // padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 225px;
    width: 100%;
    padding: 0 30px;
    position: relative;
    .btn_close {
      position: absolute;
      right: 10px;
      top: 10px;
      border: none;
      background: transparent;
      color: #333333;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
    }
    &_item {
      width: 250px;
      // margin: 12px;
      height: 145px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #ffffff;
      border-radius: 15px;
      h5 {
        color: #333333;
        font-size: 25px;
        font-weight: 400;
      }
      p {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
  .fixed {
    background-color: #fff;
    width: 100%;
    position: relative;
    // border: 1px solid red;
    z-index: 1;
    height: 350px;
    padding: 0 30px;
    border-radius: 15px;
    &:after {
      z-index: 0;
      content: "";
      position: absolute;
      width: 50%;
      height: 295px;
      right: -5px;
      bottom: 10px;
      background: url("/formM_bg_l.png") center/cover;
      // background-size: contain;
      // background: transparent;
    }

    .form_title {
      margin-bottom: 31px;
      // margin-left: 12px;
      padding-top: 55px;
      width: 345px;
      h4 {
        font-size: 25px;
        line-height: 130%;
        font-weight: bold;
        margin-bottom: 24px;
      }

      p {
        font-size: 14px;
        font-weight: normal;
        line-height: 160%;
      }
    }
    .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      input {
        z-index: 1;
        height: 60px;
        padding: 15px 10px;
        border: 3px solid #ededed;
        border-radius: 15px;
        margin-bottom: 10px;
        // margin-left: 12px;
      }
      input:focus {
        outline: none;
        box-shadow: 0 0.8rem 1.3rem rgba(120, 194, 117, 0.63);
        border: 2px solid rgb(120, 194, 117);
        background-color: rgba(247, 247, 247, 0.979);
      }
      input:focus:invalid {
        box-shadow: 0 0.8rem 1.3rem rgba(231, 104, 95, 0.678);
        border: 2px solid rgb(231, 104, 95);
      }
      .form_btn {
        height: 60px;
        background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        color: #fff;
        width: 210px;
        margin-left: 10px;
        font-size: 14px;
        z-index: 1;
      }

      .chekBox {
        position: absolute;
        bottom: 30px;
        left: 32px;
        display: flex;
        align-content: center;

        .custom_checkbox {
          width: 30px;
          height: 30px;
          -webkit-appearance: none;
          background-color: #fff;
          border: 1px solid #cacece;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
            inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          padding: 9px;
          border-radius: 3px;
          display: inline-block;
          position: relative;
          &:checked {
            background-color: #fff;
            border: 1px solid #adb8c0;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
              inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
              inset 15px 10px -12px rgba(255, 255, 255, 0.1);
            color: #99a1a7;
          }
          &:checked:after {
            content: "";
            font-size: 18px;
            position: absolute;
            top: 6px;
            left: 7px;
            right: 0;
            // color: #5cacc7;
            width: 15px;
            height: 15px;
            background: url("/check.svg") center/cover no-repeat;
            background-size: contain;
          }
        }

        label {
          color: #a4a4a4;
          font-size: 12px;
          text-align: center;
          padding-left: 11px;
          padding-top: 10px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 901px) {
  .form_container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("/formMod_m_bg.svg") center/cover no-repeat;
    // border: 3px solid blue;

    height: 100vh;
    border-radius: 15px;
    border-radius: 0;

    .place {
      // padding-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      width: 100vw;
      padding: 0 50px;
      position: relative;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-top: 35px;
      padding-bottom: 14px;
      .btn_close {
        position: absolute;
        right: 15px;
        top: 15px;
        border: none;
        background: transparent;
        color: #333333;
        font-size: 25px;
        font-weight: bold;
      }
      &_item {
        width: 100%;
        margin: 7px 0;
        height: 35px;
        padding: 0;
        display: flex;
        padding: 20px 0;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background: #ffffff;
        border-radius: 15px;
        h5 {
          color: #333333;
          font-size: 16px;
          font-weight: 400;
        }
        p {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
    .fixed {
      background-color: #fff;
      width: 100%;
      position: relative;
      height: 111vh;
      // border: 1px solid red;
      z-index: 1;
      // height: 350px;
      padding: 0 30px;
      border-radius: 0px;
      &:after {
        z-index: 0;
        content: "";
        position: absolute;
        width: 50%;
        height: 365px;
        right: -15px;
        bottom: 35px;
        background: url("/form_bg_m.svg") center/cover;
        // background-size: contain;
        // background: transparent;
      }

      .form_title {
        text-align: left;
        margin-bottom: 10px;
        // margin-left: 12px;
        padding-top: 18px;
        width: 345px;
        h4 {
          font-size: 20px;
          line-height: 130%;
          font-weight: bold;
          margin-bottom: 11px;
        }

        p {
          font-size: 12px;
          font-weight: normal;
          line-height: 160%;
          color: #6c6c6c;
        }
      }
      .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        input {
          z-index: 1;
          height: 50px;
          padding: 15px 10px;
          border: 3px solid #ededed;
          border-radius: 15px;
          margin-bottom: 10px;
          // margin-left: 12px;
        }

        .form_btn {
          height: 50px;
          background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
          border: none;
          border-radius: 50px;
          cursor: pointer;
          color: #fff;
          width: 210px;
          margin-left: 10px;
          width: 100%;
          font-size: 14px;
          z-index: 1;
          margin: auto;
          margin-bottom: 21px;
        }

        .chekBox {
          position: static;
          order: 5;
          bottom: 30px;
          left: 32px;
          display: flex;
          align-content: center;
          // justify-content: center;

          .custom_checkbox {
            width: 30px;
            height: 30px;
            -webkit-appearance: none;
            background-color: #fff;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
              inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            &:checked {
              background-color: #fff;
              border: 1px solid #adb8c0;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
                inset 15px 10px -12px rgba(255, 255, 255, 0.1);
              color: #99a1a7;
            }
            &:checked:after {
              content: "";
              font-size: 18px;
              position: absolute;
              top: 6px;
              left: 7px;
              right: 0;
              // color: #5cacc7;
              width: 15px;
              height: 15px;
              background: url("/check.svg") center/cover no-repeat;
            }
          }

          label {
            width: 100%;
            color: #a4a4a4;
            text-align: center;
            padding-left: 0;
            padding-top: 10px;
            font-size: 10px;
            justify-self: center;
          }
        }
      }
    }
  }
}
