.form_title {
  h4 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    padding-bottom: 16px;
    color: #333333;
  }
  p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    padding-bottom: 24px;
    color: #6c6c6c;
  }
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  .star_1 {
    position: absolute;
    top: 24px;
    font-size: 26px;
    display: inline-block;
    left: -15px;
    color: #6c6c6c;
  }
  .star_2 {
    position: absolute;
    top: 90px;
    font-size: 26px;
    display: inline-block;
    left: -15px;
    color: #6c6c6c;
  }
  .facke_placholder {
    position: relative;
  }
  .facke_placholder_none {
    display: none;
  }

  .facke_placholder_block {
    display: block;
    position: absolute;
    top: 41%;
    left: 18%;
    transform: translateY(-50%);
    z-index: 1;
  }

  input {
    height: 60px;
    padding: 15px 30px;
    border: 3px solid #ededed;
    font-family: 'Gilroy';
    font-size: 14px;
    border-radius: 15px;
    margin-bottom: 10px;
    -webkit-appearance: none;
  }
  input:focus {
    outline: none;
    box-shadow: 0 0.8rem 1.3rem rgba(120, 194, 117, 0.63);
    border: 2px solid rgb(120, 194, 117);
    background-color: rgba(247, 247, 247, 0.979);
  }
  input:focus:invalid {
    box-shadow: 0 0.8rem 1.3rem rgba(231, 104, 95, 0.678);
    border: 2px solid rgb(231, 104, 95);
  }

  .textarea {
    height: 130px;
    background: #ffffff;
    border: 3px solid #ededed;
    box-sizing: border-box;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 30px;

     -webkit-appearance:none ;
    font-family: "Gilroy";
    font-size: 14px;

  }
  .form_btn {
    margin-top: 17px;
    height: 60px;
    background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
    border: none;

    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
  }
  textarea::placeholder {
    padding: 12px 5px;
    color: #a4a4a4;
    font-size: 16px;
  }
  input::placeholder {
    padding: 5px;
    color: #a4a4a4;
    font-size: 16px;
  }
  .chekBox {
    padding-top: 10px;
    display: flex;
    align-content: center;

    .custom_checkbox {
      width: 30px;
      height: 30px;
      -webkit-appearance: none;
      background-color: #fff;
      border: 1px solid #cacece;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 9px;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      &:checked {
        background-color: #fff;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
          inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
          inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: #99a1a7;
      }
      &:checked:after {
        content: "";
        font-size: 18px;
        position: absolute;
        top: 6px;
        left: 7px;
        right: 0;
        // color: #5cacc7;
        width: 15px;
        height: 15px;
        background: url("/check.svg") center/cover no-repeat;
      }
    }

    label {
      color: #a4a4a4;
      font-size: 12px;
      text-align: center;
      padding-left: 11px;
      padding-top: 10px;
      font-size: 12px;
    }
  }

  // costom input phone
  //   .input{
  //     display: flex;
  // 	align-items: center;
  // 	position: relative;
  //   .PhoneInputInput {
  // 	/* The phone number input stretches to fill all empty space */
  // 	flex: 1;
  // 	/* The phone number input should shrink
  // 	   to make room for the extension input */
  // 	min-width: 0;
  // 	/* padding-left: 170px; */

  // 	/* margin-left: 70px; */
  // }
  // input.PhoneInputInput{
  // 	padding: 0 50px;
  // }
  //   }
}

// tablet
@media (max-width: 1200px) {
  .form_title {
    h4 {
      font-weight: bold;
      font-size: 32px;
      padding-bottom: 16px;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      padding-bottom: 24px;
      color: #6c6c6c;
    }
  }
  .form {
    // height: 100%;
    display: flex;
    flex-direction: column;
    //   justify-content: space-between;
    input {
      height: 60px;
      padding: 15px 30px;
      border: 3px solid #ededed;
      border-radius: 15px;
      margin-bottom: 10px;
    }
    .textarea {
      height: 130px;
      background: #ffffff;
      border: 3px solid #ededed;
      box-sizing: border-box;
      border-radius: 15px;
    }
    .form_btn {
      margin-top: 16px;
      height: 65px;
      background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      color: #fff;
    }
    textarea::placeholder {
      padding: 12px 25px;
      color: #a4a4a4;
      font-size: 16px;
    }
    input::placeholder {
      padding: 5px;
      color: #a4a4a4;
      font-size: 16px;
    }
    .chekBox {
      padding-top: 10px;
      display: flex;

      input {
        width: 20px;
        height: 20px;
      }

      label {
        color: #a4a4a4;
        font-size: 12px;
        padding-bottom: 8px;
      }
    }
  }
}

// mobile
@media (max-width: 766px) {
  .form_title {
    h4 {
      font-weight: bold;
      font-size: 32px;
      padding-bottom: 16px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      padding-bottom: 24px;
      color: #6c6c6c;
      line-height: 26px;
    }
  }
  .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    //   justify-content: space-between;
    input {
      height: 60px;
      padding: 15px 30px;
      border: 3px solid #ededed;
      border-radius: 15px;
      margin-bottom: 10px;

      -webkit-appearance:none ;
      font-size: 16px;

    }
    .textarea {
      height: 130px;
      background: #ffffff;
      border: 3px solid #ededed;
      box-sizing: border-box;
      border-radius: 15px;

       -webkit-appearance:none ;
      font-size: 16px;

    }
    .form_btn {
      margin-top: 16px;
      height: 65px;
      background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      color: #fff;
      font-size: 18px;
    }
    textarea::placeholder {
      font-family: Gilroy;
      padding: 10px 5px;
      color: #a4a4a4;
      font-size: 14px;
      -webkit-appearance: none;
    }
    input::placeholder {
      font-family: Gilroy;
      padding: 5px;
      color: #a4a4a4;
      font-size: 14px;
      -webkit-appearance: none;
    }
    .chekBox {
      padding-top: 10px;
      display: flex;
      .custom_checkbox {
        -webkit-appearance: none;
        background-color: #fff;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
          inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        &:checked {
          background-color: #fff;
          border: 1px solid #adb8c0;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
            inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
            inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          color: #99a1a7;
        }
        &:checked:after {
          content: "";
          font-size: 18px;
          position: absolute;
          top: 6px;
          left: 7px;
          right: 0;
          // color: #5cacc7;
          width: 15px;
          height: 15px;
          background: url("/check.svg") center/cover no-repeat;
        }
      }

      label {
        color: #a4a4a4;
        // padding-left: 11px;
        font-family: Gilroy;
        font-size: 10px;
      }
    }
  }
}

//
