@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.ttf"), url("/fonts/Gilroy-SemiBold.eot"),
    url("/fonts/Gilroy-SemiBold.woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf"), url("/fonts/Gilroy-Bold.eot"),
    url("/fonts/Gilroy-Bold.woff");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.ttf"), url("/fonts/Gilroy-Medium.eot"),
    url("/fonts/Gilroy-Medium.woff");
  font-weight: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Gilroy";
  font-weight: normal;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

.linercradient {
  background: linear-gradient(90deg, #4ea86a 0%, #5cacc7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linercradient_1 {
  background: linear-gradient(90deg, #91d9a7 0%, #55bddf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fixed_bar {
  display: fixed;
}

.btn {
  width: 290px;
  height: 60px;
  background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
  border: none;
  // box-shadow: 0px 18px 40px -5px rgba(25, 135, 59, 0.35);
  border-radius: 50px;
  cursor: pointer;
}

.white {
  color: #ffff;
}
.z_index_1 {
  z-index: 1;
}

.hide {
  display: none;
}
.col {
  flex: 1;

  & + & {
    margin-left: 10px;
  }

  & > div {
    display: flex;
  }
}

.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.not_active {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.render_lands {
  position: relative;
  max-height: 400px;
  overflow: auto;
  z-index: 100;
}

.st0 {
  width: 100%;
  height: 100%;
  opacity: 0;
  fill: #ffffff;
  cursor: pointer;
  // padding: 40px;
}
.st0:hover {
  //  fill: red;
  //  background-color: red;
  //  color: red;

  opacity: 0.5;
}

.main_main_wraper {
  width: 1440px;
  margin: auto;
}

.numbers_1 {
  position: absolute;
  top: 26%;
  left: 10%;
  width: 77%;
  height: 40%;
  background: url("/genPlanNumbers.svg");
  background-size: contain;
  pointer-events: none;

  // z-index: 1;
}
.numbers_2 {
  position: absolute;
  top: 26%;
  left: 20%;
  width: 73%;
  height: 55%;
  background: url("/genPlanNumbers2.svg");
  background-size: contain;
  pointer-events: none;

  // z-index: 1;
}
.showHouses {
  position: absolute;
  top: 24%;
  left: 10%;
  width: 79%;
  height: 44%;
  background: url("/houses_1.svg");
  background-size: contain;
  pointer-events: none;
}
.showHouses_2 {
  position: absolute;
  top: 24.5%;
  left: 20%;
  width: 75%;
  height: 60%;
  background: url("/houses_2.svg");
  background-size: contain;
  pointer-events: none;
}

.btn_show_and_hide{
position: absolute;
  top: 10%;
  left: 34%;
  width: 79%;
  height: 5%;

  button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
box-shadow: 0px 3.51678px 3.51678px rgba(0, 0, 0, 0.2);
border-radius: 43.9597px;
width: 475px;
height: 53px;
  cursor: pointer;
  font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;
  border: none;
    div{
      display: flex;
      align-items: center;
      justify-content: center;
    width: 34px;
height: 34px;
border-radius: 50%;
img{
  background-size: contain;
}

background: linear-gradient(90deg, #4EA86A -38.01%, #5CACC7 135.09%);
  }

  }
}
.sbmx {
  width: 100%;
  height: 100%;
  opacity: 0;
  fill: #ffffff;
  cursor: pointer;
  // padding: 40px;
}
.sbmx:hover {
  opacity: 0.5;

  // padding: 40px;
}

.bmx {
  position: absolute;
  top: 51%;
  left: 18%;
  width: 8%;
  height: 8%;
  background: url("/bmx.svg") no-repeat;
  background-size: contain;
  pointer-events: none;

  // z-index: 1;
}
.playGraund {
  position: absolute;
  top: 27%;
  left: 51%;
  width: 10%;
  height: 8%;
  background: url("/palyGraund.svg") no-repeat;
  background-size: contain;
  pointer-events: none;
}
.shops {
  position: absolute;
  top: 32%;
  left: 5%;
  width: 20%;
  height: 12%;
  background: url("/shops.svg") no-repeat;
  background-size: contain;
  pointer-events: none;
}

.outer_svg {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  display: block;

  //    background;
}
.hidePlan {
  display: none;
  opacity: 0;
}

.showPlan {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  display: block;
}
.reservd {
  width: 100%;
  height: 100%;
  opacity: 1;
  fill: rgba(217, 130, 51, 0.7);
  // background-color: red;
  cursor: pointer;
}
.soldout {
  width: 100%;
  height: 100%;
  opacity: 1;
  fill: rgba(211, 190, 171, 0.7);
  // background-color: red;
  cursor: pointer;
}
