*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
ul li{
  list-style: none;
}
span {
        background: linear-gradient(
90deg
, #4ea86a 0%, #5cacc7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
      }