@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.ttf"), url("/fonts/Gilroy-SemiBold.eot"),
    url("/fonts/Gilroy-SemiBold.woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf"), url("/fonts/Gilroy-Bold.eot"),
    url("/fonts/Gilroy-Bold.woff");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.ttf"), url("/fonts/Gilroy-Medium.eot"),
    url("/fonts/Gilroy-Medium.woff");
  font-weight: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Gilroy";
  font-weight: normal;
  
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

.linercradient {
  background: linear-gradient(90deg, #4ea86a 0%, #5cacc7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linercradient_1 {
  background: linear-gradient(90deg, #91D9A7 100%, #55BDDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fixed_bar {
  display: fixed;
}

.btn {
  width: 290px;
  height: 65px;
  background: linear-gradient(90deg, #4ea86a -38.01%, #5cacc7 135.09%);
  border: none;
  box-shadow: 0px 18px 40px -5px rgba(25, 135, 59, 0.35);
  border-radius: 50px;
  cursor: pointer;
}

.white {
  color: #ffff;
}
.z_index_1 {
  z-index: 1;
}




