.header_mob_main {
  display: none;
}

@media (max-width: 1200px) {
  .header_mob_main {
    display: block;
    position: fixed;
    z-index: 3;
    width: 100%;

    background-color: transparent;
    .flex_container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 15px 10px;
      height: 80px;
      .logo_container {
        padding-left: 41px;
      }

      .btn_mobile {
        padding: 5px;
        width: 90px;
        height: 50px;
        background: #ffffff;
        border-radius: 15px;
        transition: all 0.2s ease-in-out;
        .btn_center {
          width: 400px;
        }
        .line_1 {
          display: block;
          width: 40px;
          height: 2px;
          margin: 5px;
          margin-left: 18px;
          background-color: #60b286;
          transition: all 0.2s ease-in-out;
        }
        .line_2 {
          display: block;
          width: 25px;
          height: 2px;
          margin: 10px;
          margin-left: 18px;
          background-color: #60b286;
          transition: all 0.1s ease-in-out;
        }
        .line_3 {
          display: block;
          width: 30px;
          height: 2px;
          margin: 10px;
          margin-left: 18px;
          background-color: #60b286;
          transition: all 0.1s ease-in-out;
        }
      }
      .btn_mobile_active {
        width: 90px;
        height: 50px;
        border-radius: 15px;
        transition: all 0.2s ease-in-out;
        padding-left: 25px;
        .line_1 {
          display: block;
          width: 40px;
          height: 5px;
          margin: 10px;
          background-color: #c4c4c4;
          transform: rotate(45deg) translateY(15px) translateX(2px);
          transition: all 0.2s ease-in-out;
        }
        .line_2 {
          display: block;
          width: 25px;
          height: 3px;
          margin: 10px;
          margin-left: 18px;
          opacity: 0;
          background-color: #60b286;
          transition: all 0.2s ease-in-out;
        }
        .line_3 {
          display: block;
          width: 40px;
          height: 5px;
          margin: 10px;
          background-color: #c4c4c4;
          transform: rotate(-45deg) translateY(-17px) translateX(6px);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .btn_sign {
      margin-top: 43px;
      // margin-left: 41px;
      align-self: center;
      a {
        color: #ffffff;
      }
    }
    .phone {
      margin-top: 14px;
      text-align: center;
      align-self: center;
      background-color: #eeeeee;
      height: 60px;
      padding-top: 20px;
      color: #333333;
      font-size: 24px;
      width: 100%;
      border-radius: 50px;
      .icon {
        padding-top: 5px;
        margin-right: 10px;
        color: #348f50;
      }
    }
    .link {
      color: #333333;
      margin-bottom: 21px;
      font-size: 22px;
      transition: all 0.2s ease-in-out;
      line-height: 26px;
      &:hover {
        color: #4c959a;
      }
      &:focus {
        color: #4c959a;
      }
    }
    .policy {
      margin-top: 31px;
      color: #979797;
      p {
        margin-bottom: 18px;
      }
    }
    button {
      width: 100%;
      a {
        color: #ffff;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        .arrow {
          margin-top: 2px;
          margin-left: 15px;
          .fr {
            width: 32px;
            height: 20px;
          }
        }
      }
    }

    .hide {
      display: none;
      padding: 41px;
      position: absolute;
      min-height: calc(100vh - 67px);
      width: 100%;
      background: #f8f8f8;
      transform: translateX(-100%);
      transition: transform 0.2s ease-out ;
      flex-direction: column;
      align-items: flex-start;
    }

    .show_bar {
      padding: 41px;
      position: absolute;
      min-height: calc(100vh - 67px);
      width: 100%;
      background: #f8f8f8;
      transition: transform 0.2s ease-out;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: translateX(0);
      transition: all 0.2s ease-out;
    }
    .toggle {
      display: none;
    }
    .toggle_1 {
      display: flex;
    }
  }
  .fixed_scroll {
    background-color: #f8f8f8;

    .btn_mobile {
      border: 1px solid#60B286;
    }
  }
}
