

.container {
  padding-top: 31px;
  position: absolute;
  width: 1200px;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .logo {
    margin-right: 73px;
  }
}
.fixed_bar {
  position: fixed;
  
}

.navscroll {
    margin-top: 16px;
  background: linear-gradient(90deg, #4EA86A -38.01%, #5CACC7 135.09%);
  padding: 10px 16px;
  border-radius: 50px;
  position: absolute;
  z-index: 10;
  margin-left: 122px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
 
  .logo {
    margin-right: 73px;
  }
}
