.history {
  margin-top: 115px;
  margin-bottom: 81px;

  .title {
    margin: auto;
    margin-bottom: 4rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
  }
}
