.history {
  padding-top: 115px;
  margin-bottom: 81px;
  height: 1652px;
  background:  linear-gradient(0deg, rgba(36, 36, 36, 0.7), rgba(36, 36, 36, 0.7)), url("/history_bg.png") center/cover;

  .title {
    margin: auto;
    margin-bottom: 4rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
  }
}
