.main_section {
  min-height: 100vh;
  background: linear-gradient(
      110.31deg,
      #fbfbfb 25.32%,
      rgba(255, 255, 255, 0.8) 49.99%,
      rgba(255, 255, 255, 0) 74.3%,
      rgba(255, 255, 255, 0) 91.51%
    ),
    url("/main-section.png") center/cover;
  //
}
.title_center {
  padding-top: 232px;
  h1 {
    width: 650px;
    height: 162px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 130%;
  }
  .btn_container {
    margin-top: 88px;
    display: flex;

    align-items: center;
    button {
      a {
        color: #ffff;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        .arrow{
          margin-top: 6px;
          margin-left: 15px;
          .fr{
            width: 32px;
            height: 20px;
          }
        }
      }
    }
    p {
      width: 315px;
      margin-left: 51px;
      color: #333333;
      line-height: 25px;
    }
  }
  .mous {
    display: flex;
    margin-top: 125px;
    color: #686868;
    p {
      margin-left: 19px;
    }
  }
}
