.main_section {
  min-width: 1440px;
  min-height: 800px;
  background: linear-gradient(
      110.31deg,
      #fbfbfb 25.32%,
      rgba(255, 255, 255, 0.8) 49.99%,
      rgba(255, 255, 255, 0) 74.3%,
      rgba(255, 255, 255, 0) 91.51%
    ),
    url("/main-section.png") center/cover;
  //
}
.title_center {
  padding-top: 232px;
  padding-left: 122px;
  h1 {
    width: 650px;
    height: 162px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 130%;
  }
  .btn_container {
    margin-top: 88px;
    display: flex;
    
    align-items: center;
    button {
      
      width: 290px;
      height: 65px;
      background: linear-gradient(90deg, #4EA86A -38.01%, #5CACC7 135.09%);
box-shadow: 0px 18px 40px -5px rgba(25, 135, 59, 0.35);
border-radius: 50px;
a{
  color: #ffff;
  font-weight: 700;
}
    }
    p {
      width: 315px;
      margin-left: 51px;
      color: #333333;
      line-height: 25px;
    }
  }
  .mous{
    display: flex;
    margin-top:125px ; 
    color: #686868;
    p{
      margin-left: 19px
    };
  }
}
