.container{
    padding-top: 39px;
    padding-left: 47px;
    padding-right: 48px;
    padding-bottom: 121px;
    .flex_container_1{
        margin-left: 5px;
    }
    .flex_container_2{
         margin-left: 5px;

    }
    .flex_container_3{
         margin-left: 5px;

    }
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    .img_cont{
        img{
            width: 100%;
        }
    }
   
}

@media (max-width:1200px) {

    .container{
    padding-top: 39px;
    padding-left: 47px;
    padding-right: 48px;
    padding-bottom: 121px;
    height: 600px;
    .flex_container_1{
        margin-left: 5px;
    }
    .flex_container_2{
         margin-left: 5px;

    }
    .flex_container_3{
         margin-left: 5px;

    }
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    .img_cont{
        img{
            width: 100%;
        }
    }
   
}
    
}