.container{
    padding-top: 39px;
    padding-left: 47px;
    padding-right: 48px;
    padding-bottom: 121px;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    .img_cont{
        img{
            width: 100%;
        }
    }
   
}