.projects {
margin-top: 115px;
margin-bottom: 81px;


  .title {
    margin: auto;
    margin-bottom: 4rem;

    text-align: center;
    font-size: 42px;
  }
  .center{
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
    
   
}
}