.projects {
  position: relative;
  margin-top: 115px;
  margin-bottom: 81px;
  position: relative;
  z-index: 1;
   background: #F5F5F5;

 
  padding-top: 8rem;
  padding-bottom: 8rem;
   &:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 977px;
    left: 0px;
    bottom: 1150px;
    background: url("/clouds_arries.png") center/cover;
    background-size: contain;
    // background: transparent;
  }


  .title {
    position: relative;
    margin: auto;
    margin-bottom: 4rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
  }
  .about_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 61px;
   

    .about_btn_container {
      width: 310px;
      .about_btn {
        margin-top: 20px;
        width: 303px;
        height: 39px;
        background: #ffffff;
        border: 4px solid #ededed;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        position: relative;
        a {
          font-family: Gilroy;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 160%;
          /* identical to box height, or 29px */

          color: #03838c;
          .about_btn_arrow {
            position: absolute;
            right: 20px;
          }
        }
      }
    }

    .about_text {
      margin-left: 88px;
      p {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #6b6b6b;
      }
    }
  }
  .flex_container {
    margin-top: 106px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    .flex_container_1 {
      display: flex;
      flex-direction: column;
      .flex_img_md {
        margin: 11px 0;
      }
    }
    .flex_container_2 {
      display: flex;
      flex-direction: column;
      .flex_img_md {
        margin: 11px 0;
      }
    }
    .flex_container_3 {
      display: flex;
      flex-direction: column;
      .flex_img_md {
        margin: 11px 0;
      }
    }
  }
}
