.singlLand_container {
  display: flex;
  //    margin-top: 20px;
  height: 102px;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #f4f4f4;
  border-top: none;
  .item {
    padding-left: 60px;
  }
  .btn {
    width: 224px;
    height: 50px;
    background: #5aabbf;
    border-radius: 50px;
    border: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    cursor: pointer;

    text-align: center;

    color: #ffffff;
   
   
  }
   .color_green {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      color: #529547;
    }
     p {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      color: #6a6a6a;
    }
}
