.uniq {
   z-index: 100000;
  margin-top: 115px;
  margin-bottom: 81px;

  .title {
    margin: auto;
    margin-bottom: 4rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
    h3{
      z-index: 100000;
    }
  }
  .center {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
  }
}
