.uniq {
  position: relative;
  margin-top: 115px;
  margin-bottom: 81px;
  &:after {
    content: "";
    position: absolute;
    width: 361px;
    height: 903px;
    right: 10px;

    bottom: 100px;
    background: url("/leafs_r.png") center/cover;
    background-size: contain;
    // background: transparent;
  }
  &::before {
    content: "";
    position: absolute;
    width: 276px;
    height: 830px;
    left: -2px;

    bottom: 100px;
    background: url("/leafs_l.png") center/cover;
    background-size: contain;
    // background: transparent;
  }

  .title {
    margin: auto;
    margin-bottom: 4rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
    h3 {
      z-index: 1;
    }
  }
  .center {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
  }
}
